.cultures {
  &--header {
    margin-top: 10px;
    text-align: center;
  }
  &--body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    &--culture {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
  &--footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &--culture {
    margin-top: 10px;
  }
  &--buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
