@import "../../../assets/styles/variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  gap: $large-gap;
  padding: $large-text-padding;
  background-color: $light-blue;
  border: none;
  border-radius: $larger-border-radius;
  box-shadow: $small-box-shadow;
  cursor: pointer;
  
  &.small {
    gap: $gap;
    padding: $text-padding;
  }
  &:hover {
    background-color: $lighter-blue;
  }
  span {
    padding-top: 1px;
  }
  &.transparent {
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}
