@import "../../../assets/styles/variables.scss";

.editable-text {
  &--editing, &--display {
    display: flex;
    align-items: center;

    .icon {
      border-radius: $border-radius;
      cursor: pointer;
    }

    &:hover {
      .icon {
        fill: $dark-gray;
      }
    }
  }
  &--editing {
    gap: $gap;

    input {
      padding: $small-text-padding;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $dark-gray;
    }
  }
  &--display {
    gap: $large-gap;
    cursor: pointer;

    .icon {
      fill: rgba(0, 0, 0, 0);
    }
  }
}
