.stat-block {
  position: relative;
  max-width: 1000px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  .stat-block--hide-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .stat-block--display {
    .stat-block--display--title {
      margin: 0px;
      text-align: center;
    }
    .stat-block--display--subtitle {
      margin-top: 0px;
      text-align: center;
    }
    .stat-block--display--description {
      text-align: left;
    }
    .stat-block--display--content {
      text-align: left;
      column-count: 2;
      p:first-child {
        margin-top: 0px;
      }
    }
  }
  .stat-block--buttons {

  }
}
