.stat-block {
  position: relative;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 1px 2px #999;
  &--hide-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &--display {
    &--title {
      margin: 0px;
      text-align: center;
    }
    &--subtitle {
      margin-top: 0px;
      text-align: center;
    }
    &--description {
      text-align: left;
    }
    &--content {
      text-align: left;
      column-count: 2;
      p:first-child {
        margin-top: 0px;
      }
    }
  }
  &--edit {
    &--textarea {
      display: flex;
      flex-direction: column;
      textarea {
        width: 100%;
        height: 100px;
        resize: vertical;
        box-sizing: border-box;
      }
    }
  }
  &--buttons {
    margin-top: 10px;
  }
}
