@import '../../assets/colors.scss';

.stat-block {
  position: relative;
  padding: 5px 10px;
  background-color: $stat-block-color;
  border: 1px solid;
  &--hide-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &--header {
    text-align: center;
  }
  &--display {
    &--subtitle{
      text-align: center;
      margin-bottom: 10px;
    }
    &--description{
      p {
        margin-bottom: 10px;
      }
    }
    &--content {
      columns: 2;
      margin-bottom: 10px;
      .dont-break {
        break-inside: avoid-column;
        margin-bottom: 10px;
        border-bottom: 1px solid;
      }
      .dont-break:last-child {
        border: none;
      }
      h4 {
        text-align: center;
      }
      p, ul {
        margin-bottom: 10px;
        &.dont-break {
          padding-bottom: 10px;
        }
      }
    }
  }
  &--edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &--input {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &--textarea {
      display: flex;
    }
    &--buttons {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
  }
  &--footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
  }
}
