@import "../../assets/styles/variables.scss";

.button-icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $light-blue;
  border: none;
  border-radius: 50%;
  box-shadow: $small-box-shadow;
  cursor: pointer;

  &.small {
    width: 32px;
    height: 32px;
  }
  &:hover {
    background-color: $lighter-blue;
  }
}
