@import '../../assets/styles/variables.scss';

.editable-textarea {
  &--editing, &--display {
    display: flex;
    align-items: center;

    .icon {
      border-radius: $border-radius;
      cursor: pointer;
    }

    &:hover {
      .icon {
        fill: $dark-gray;
      }
    }
  }
  &--editing {
    gap: $small-gap;
  }
  &--display {
    gap: $large-gap;
    cursor: pointer;

    .icon {
      fill: rgba(0, 0, 0, 0);
    }
  }
}
