@import "../../assets/styles/variables.scss";

.article-category-list {
  display: flex;
  flex-direction: column;
  gap: $larger-gap;

  &--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &.center {
      justify-content: center;
    }
  }
}
