@import "../../../assets/styles/variables.scss";

.menu-popup {
  position: absolute;
  background: $white;
  border: 1px solid $gray;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 1000;

  &--item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $small-gap;
    width: 100%;
    padding: $large-text-padding;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      background: $light-gray;
    }
  }
}
