@import "../../../assets/styles/variables.scss";

.icon-select {
  &--popup-menu {
    max-width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $gap;
    padding: $padding;
    background-color: $white;
    border-radius: $large-border-radius;
    box-shadow: $box-shadow;
    &--header {}
    &--icons {
      display: flex;
      flex-wrap: wrap;
      gap: $small-gap;
    }
  }
}
