@import '../../assets/colors.scss';

.chapter {
  position: relative;
  padding: 5px 10px;
  background-color: $chapter-color;
  border: 1px solid;
  &--hide-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &--move-up {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  &--title {
    text-align: center;
  }
  &--content {
    &--display {
      &--text {
        margin-top: 10px;
      }
    }
    &--edit {
      &--input {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &--textarea {
        margin-top: 5px;
      }
    }
    &--buttons {
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }
  }
}
