@import "../assets/styles/variables.scss";

.project-navigation {
  display: flex;
  align-items: center;
  gap: $gap;

  h1 {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.project-header {
  display: flex;
  justify-content: space-between;
  gap: $larger-gap;

  &--left {
    width: 25%;
    max-width: 150px;
  }
  &--right {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: $large-gap;
  }
}
