@import "../../assets/styles/variables.scss";

.article-block {
  border: 1px solid;
  border-radius: $border-radius;
  overflow: hidden;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $text-padding;

    &--buttons {
      display: flex;
      align-items: center;
      justify-self: center;
      gap: $small-gap;
    }
  }
  &--content {
    display: flex;
    flex-direction: column;
    gap: $large-gap;
    padding: $large-padding;
    box-sizing: border-box;
  }
}
