.scenarios {
  max-width: 1000px;
  margin: 0px auto;
  &--header {
    margin-top: 10px;
    text-align: center;
  }
  &--body {
    display: flex;
    flex-direction: column;
    &--scenario {
      width: 100%;
      margin-top: 10px;
      button {
        width: 100%;
      }
    }
  }
  &--footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
