@import "../../../assets/styles/variables.scss";

.input-search {
  display: flex;
  gap: $small-gap;
  
  &--wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: $small-gap;
    padding: $large-text-padding;
    background-color: $grey-blue;
    border-radius: $larger-border-radius;
    cursor: text;
    
    &:focus-within {
      border-color: $dark-gray;
      outline: 2px solid $dark-gray;
    }
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
