@import "../../assets/styles/variables.scss";

.category-table {
  width: 100%;

  &--head, &--body {
    &--row {
      display: flex;
      align-items: center;
      gap: $large-gap;
      border-bottom: 1px solid $gray;
      box-sizing: border-box;

      &--icon, &--name, &--text-color, &--primary-color, &--secondary-color, &--menu {
        display: flex;
        align-items: center;
        padding: $text-padding;
      }
      &--icon {
        flex: 0 0 36px;
        justify-content: center;
      }
      &--name {
        flex: 1;
      }
      &--preview {
        flex: 0 0 200px;
      }
      &--text-color, &--primary-color, &--secondary-color {
        flex: 0 0 48px;
        justify-content: center;
      }
      &--menu {
        flex: 0 0 50px;
        justify-content: center;
      }
    }
  }
  &--head {
    p {
      font-weight: 700;
    }
    .sortable-column {
      display: flex;
      align-items: center;
      gap: $gap;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      cursor: pointer;

      &:hover {
        background-color: $light-gray;
      }
    }
  }
  &--body {
    &--row {
      &--preview {
        display: flex;
        justify-content: flex-start;

        &--tag {
          padding: $padding;
          border: 1px solid;
          border-radius: $border-radius;
          box-shadow: $small-box-shadow;
          box-sizing: border-box;
        }
      }
      &--icon-background {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $padding;
        border-radius: 50%;
        box-sizing: border-box;
      }
      &--empty {
        width: 100%;
        padding: $large-text-padding;
        text-align: center;
        cursor: initial;
      }
      &:nth-child(odd) {
        background-color: $lighter-gray;
      }
    }
  }
}
