.culture {
  padding: 5px 10px;
  border: 1px solid;
  box-shadow: 2px 5px 0px #ccc;
  &--display {
    h1 {
      text-align: center;
    }
    p {
      margin-top: 10px;
    }
  }
  &--edit {
    &--input {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &--textarea {
      margin-top: 5px;
    }
  }
  &--buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &--chapters {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    &--chapter {}
    &--buttons {
      display: flex;
      justify-content: center;
    }
  }
}
