.bestiary {
  max-width: 800px;
  margin: 0px auto;
  &--title {
    margin: 10px 0px 0px 0px;
  }
  &--content {
    &--entry {
      margin-top: 10px;
    }
  }
  &--buttons {
    margin: 10px 0px;
  }
}
