@import "../../assets/styles/variables.scss";

.project-table {
  width: 100%;

  &--head, &--body {
    &--row {
      display: flex;
      align-items: center;
      gap: $large-gap;
      border-bottom: 1px solid $gray;
      box-sizing: border-box;

      &--thumbnail, &--title, &--description, &--articles, &--menu {
        display: flex;
        align-items: center;
        padding: $text-padding;
      }
      &--thumbnail {
        flex: 0 0 60px;
        justify-content: center;

        img {
          width: 60px;
          height: 45px;
          border-radius: $border-radius;
        }
      }
      &--title {
        flex: 0 0 200px;
      }
      &--description {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--articles {
        flex: 0 0 100px;
        justify-content: center;
      }
      &--menu {
        flex: 0 0 50px;
        justify-content: center;
      }
    }
  }
  &--head {
    p {
      font-weight: 700;
    }
    .sortable-column {
      display: flex;
      align-items: center;
      gap: $small-gap;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      cursor: pointer;

      &:hover {
        background-color: $light-gray;
      }
    }
  }
  &--body {
    &--row {
      cursor: pointer;

      &--empty {
        width: 100%;
        padding: $large-text-padding;
        text-align: center;
        cursor: initial;
      }
      &:nth-child(odd) {
        background-color: $lighter-gray;
      }
      &:hover {
        background-color: $light-gray;
      }
      &.no-hover {
        background-color: initial;
      }
      &:nth-child(odd).no-hover {
        background-color: $lighter-gray;
      }
    }
  }
}
