@import "../../../assets/styles/variables.scss";

.toggle-button {
  display: flex;
  border: 1px solid $gray;
  border-radius: $larger-border-radius;
  box-shadow: $small-box-shadow;
  overflow: hidden;
  cursor: pointer;

  &--option {
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: $small-gap;
    padding: $large-text-padding;
    border: none;

    &:not(:last-child) {
      border-right: 1px solid $gray;
    }
    &:hover:not(.active) {
      background-color: $lighter-blue;
    }
    &.active {
      background-color: $light-blue;
    }
  }
}
