.scenario {
  &--edit {
    &--row {
      &-input, &-textarea {
        margin-top: 10px;
      }
      &-input {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      input, textarea {
        width: 100%;
      }
      textarea {
        height: 100px;
        resize: vertical;
      }
    }
    &--body {

    }
    &--footer {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
  &--display {
    display: flex;
    flex-direction: column;
    &--title {
      text-align: center;
    }
    &--title, &--intro {
      margin-top: 10px;
    }
  }
  &--footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
