@import "../../../assets/styles/variables.scss";

.input-dropdown {
  display: flex;
  align-items: center;
  gap: $large-gap;

  &--header {
    display: flex;
    align-items: center;
    gap: $gap;
    padding: $text-padding;
    background-color: $light-blue;
    border: none;
    border-radius: $border-radius;
    box-shadow: $small-box-shadow;
    cursor: pointer;

    &:hover {
      background-color: $lighter-blue;
    }
  }
  &--menu {
    background: $white;
    border: 1px solid $gray;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &--item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $gap;
      width: 100%;
      padding: $padding;
      border: none;
      background: transparent;
      box-sizing: border-box;
      cursor: pointer;

      &--icon {
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $light-blue;
        border: none;
        border-radius: 50%;
        box-shadow: $small-box-shadow;
      }
      &:hover {
        background: $light-gray;
      }
    }
  }
}
