h1, h2, h3, h4, p, label, input, textarea, button, li {
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-align: left;
}
ul, ol {
  margin: 0px;
  padding-left: 20px;
}
button {
  margin: 1px;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid;
  box-shadow: 1px 1px 0px #333;
  cursor: pointer;
  &.button-small {
    padding: 0px 5px;
    font-size: 0.75rem;
  }
  &:hover {
    background-color: #ccc;
  }
  &:active {
    margin: 2px 0px 0px 2px;
    box-shadow: none;
  }
}
input, textarea {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 235);
  border: 1px solid;
  box-sizing: border-box;
}
textarea {
  height: 150px;
  resize: vertical;
}

.App {
  max-width: 1000px;
  margin: 0px auto;
  &--navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.parsed-bestiary-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
