@import 'variables';

body {
  margin: 0px;
  background-color: $light-gray;
}
.app {
  display: flex;
  flex-direction: column;
  gap: $large-gap;
  padding: $site-padding;
  nav {
    display: flex;
    a {
      color: $black;
      text-decoration: none;
      border-radius: $border-radius;
    }
  }
}
.page {
  display: flex;
  flex-direction: column;
  gap: $large-gap;
  padding: $page-padding;
  background-color: $white;
  border-radius: $large-border-radius;

  &--separator {
    margin: $separator-margin;
    border: 1px solid $light-gray;
  }
}

h1, h2, h3, p, th, td, button, input, label, textarea {
  font-family: 'open sans', sans-serif;
  margin: 0px;
}
h1, .editable-text--h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2, .editable-text--h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3, .editable-text--h3 {
  font-size: 1.15rem;
  font-weight: 700;
}
p, .editable-text--p, button, input, label, textarea {
  font-size: 1rem;
}
button {
  cursor: pointer;
}
