$separator-margin: 5px 0px;
$site-padding: 10px 20px 40px 20px;
$page-padding: 15px 20px;
$article-padding: 25px 50px 40px 50px;
$large-padding: 10px;
$padding: 5px;
$large-text-padding: 10px 15px;
$text-padding: 5px 10px;
$small-text-padding: 2px 5px;
$larger-gap: 20px;
$large-gap: 10px;
$gap: 5px;
$small-gap: 2px;
$larger-border-radius: 20px;
$large-border-radius: 10px;
$border-radius: 5px;

$black: #000;
$dark-gray: #333;
$gray: #ccc;
$light-gray: #eee;
$lighter-gray: #fafafa;
$white: #fff;
$lighter-blue: #f0f9ff;
$light-blue: #c2e7ff;
$grey-blue: #e9eef6;

$box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
$small-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.2);
