$side-margin: 20px;
$small-gap: 5px;
$large-gap: 10px;
$padding: 5px;
$text-padding: 5px 10px;
$border-radius: 5px;

$black: #000;
$dark-gray: #333;
$gray: #ccc;
$light-gray: #eee;
$lighter-gray: #fafafa;
$white: #fff;